# Xcode
.DS_Store
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.xcworkspace
!default.xcworkspace
xcuserdata
profile
*.moved-aside
DerivedData
.idea/

YueHui.xcodeproj/project.xcworkspace/xcuserdata/perry.xcuserdatad/UserInterfaceState.xcuserstate 
YueHui.xcodeproj/project.xcworkspace/xcuserdata/hx.xcuserdatad/UserInterfaceState.xcuserstate 
YueHui.xcodeproj/project.xcworkspace/xcuserdata/jimji2008.xcuserdatad/UserInterfaceState.xcuserstate 